// todo================  VARIABLES ================

// *================ ROOT VARIABLES ================
:root {
    // *-------- Colors Variables --------
    --color-primary: #A1A614;
    --color-danger: #F21905;
    --color-success: #3BACD9;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #84878C;
    --color-info-light: #D9D9D9;
    --color-dark: #2E3640;
    --color-light: rgba(46, 54, 64, 0.18);
    --color-primary-variant: #F27D16;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    // *-------- Borders Variables --------
    --border-1: 1px solid var(--color-light);
    --card-border-radius: 1rem;
    --border-radius-1: 0.3rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 1rem;

    // *-------- Padding & Margin Variables --------
    --space-xs: 0.5rem;
    --space-s: 0.75rem;
    --space-m: 1rem;
    --space-l: 1.3rem;
    --space-xl: 1.7rem;
    --space-xxl: 2rem;
    --space-g: 3rem;

    // *-------- Sizes Variables --------
    --size-xs: 0.5rem;
    --size-s: 0.75rem;
    --size-m: 1rem;
    --size-l: 1.3rem;
    --size-xl: 1.7rem;
    --size-xxl: 2rem;
    --size-g: 3rem;

    --nav-h: 3rem;
    --aside-w: 14rem;

    // *-------- Others --------

    --box-shadow: 0 1rem 2rem $color-light;

    --transition-1: all 300ms ease;
    // ================ END OF ROOT VARIABLES ================
}

//* ================ DARK THEME VARIABLES ================
.dark-theme-variables {
    --color-background: #f6f6f9;
    // ================ END OF DARK THEME VARIABLES ================
}

//* ================ SASS VARIABLES ================

// *-------- Colors Variables --------
//Estos colores son usados para testear tamaños por lo tanto no se incluyen en el diseño final
$color-test-1: pink;
$color-test-2: coral;
$color-test-3: olive;
$color-test-4: BlueViolet;
// ================ END OF SASS VARIABLES ================