//* ----------------  MAIN ----------------

main {
    margin-top: 1.4rem;

    .date {
        display: inline-block;
        background-color: $color-light;
        border-radius: $border-radius-1;
        margin-top: 1rem;
        padding: 0.5rem 1.6rem;

        input[type="date"] {
            background: transparent;
            color: $color-dark;
        }

        //End of date
    }


    .insights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;

        &>div {
            background-color: $color-white;
            padding: $card-padding;
            border-radius: $card-border-radius;
            margin-top: 1rem;
            box-shadow: $box-shadow;
            transition: all 250ms ease-in-out;

            &:hover {
                box-shadow: none;
            }

            //* Color for the icons
            span {
                background-color: $color-primary;
                padding: 0.5rem;
                border-radius: 50%;
                color: white;
                font-size: 2rem;
            }

            &.expenses span {
                background-color: $color-danger;
            }

            &.income span {
                background-color: $color-success;
                //End of Color for the icons
            }

            & .middle {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            //End styles of div
        }

        h3 {
            margin: 1rem 0 0 0.6rem;
            //color: $color-test-1;
            font-size: 1rem;
        }

        .progress {
            position: relative;
            width: 92px;
            height: 92px;
            border-radius: 50%;
            //background-color: $color-test-1;

            .number {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        //* Styles of circles
        svg {
            //background-color: $color-test-2;
            width: 7rem;
            height: 7rem;

            circle {
                fill: none;
                transform: translate(5px, 5px);
                stroke: $color-primary;

                stroke: {
                    width: 14;
                    linecap: round;
                    dasharray: 110;
                    dashoffset: 92;
                }
            }
        }

        .sales svg circle {
            stroke: {
                dasharray: 200;
                dashoffset: -30;
            }
        }

        .expenses svg circle {
            stroke: {
                dasharray: 200;
                dashoffset: -30;
            }
        }

        .income svg circle {
            stroke: {
                dasharray: 110;
                dashoffset: 35;
            }

            // End of Styles of circles
        }

        small {
            display: block;
            margin-top: 1.6rem;
        }

        // End of insights
    }

    .recent-orders {
        margin-top: 2rem;

        h2 {
            margin-bottom: 0.8rem;
        }

        a {
            text-align: center;
            display: block;
            margin: 1rem auto;
            color: $color-primary;
        }

        //End of recent-orders
    }

    table {
        background: $color-white;
        width: 100%;
        border-radius: $card-border-radius;
        padding: $card-padding;
        text-align: center;
        box-shadow: $box-shadow;
        transition: $transition-1;

        &:hover {
            box-shadow: none;
        }

        tbody {
            td {
                height: 2.8rem;
                border-bottom: $border-1;
                color: $color-dark-variant;
            }

            tr {
                &:last-child td {
                    border: none;
                }
            }
        }
    }

    //End of main
}