//todo ----------------  MAIN ----------------

main {
    //background-color: $color-test-4;
    margin-top: var(--nav-h);
    margin-left: var(--aside-w);
    height: 123rem;
    //padding: var(--space-m);
}