// todo================  TEXT STYLES ================

// *-------- General texts --------
h1 {
    font-weight: 800;
    font-size: var(--size-xxl);
}

h2 {

    font-size: var(--size-xl);
}

h3 {
    font-size: var(--size-l);
}

h4 {

    font-size: var(--size-m);
    font-weight: 300;
}

h5,
p {

    font-size: var(--size-s);
}

small {

    font-size: var(--size-xs);
}

// *-------- Color for the texts --------
a {
    color: var(--color-dark);
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.dark {
    color: var(--color-dark);
}