@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --color-primary: #A1A614;
  --color-danger: #F21905;
  --color-success: #3BACD9;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #84878C;
  --color-info-light: #D9D9D9;
  --color-dark: #2E3640;
  --color-light: rgba(46, 54, 64, 0.18);
  --color-primary-variant: #F27D16;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --border-1: 1px solid $color-light;
  --card-border-radius: 1rem;
  --border-radius-1: 0.3rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 1rem;
  --card-padding: 1.5rem;
  --padding-1: 1rem;
  --box-shadow: 0 1rem 2rem $color-light;
  --transition-1: all 300ms ease;
}
