// todo================  GENERAL IMPORTS ================

// *-------- Google Fonts --------
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

// *-------- Locals --------
@import "sass/config";

// todo================  GENERAL STYLES ================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    //font-size: 16px;
}

body {
    //background-color: $color-test-1;
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    overflow-x: hidden;
    font-size: 1rem;
    color: var(--color-dark);
}

.container {
    //background-color: $color-test-2;
    position: relative;
    height: 100%;
    display: grid;
}

a {
    text-decoration: none;
}

// todo================ IMPORTS ================

// *-------- Locals --------
@import 'sass/text';
@import 'sass/img';
@import 'sass/nav';
@import 'sass/aside';
@import 'sass/main';